/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #140224;
  color: #fff;
  scroll-behavior: smooth;
}
  
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2B272E;
  z-index: 1000;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  font-family: 'Piazzolla', Arial;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.section {
  min-height: 75vh;
  padding: 50px 20px;
  text-align: center;
}

#home .intro {
  margin-top: 80px;
  margin-left: 300;
  margin-right: 300;
}

#home h1 {
  font-family: 'Caveat', Arial;
  font-size: 48px;
  margin-bottom: 20px;
}

#home img {
  width: 250;
  height: 250;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

#home p {
  font-size: 18px;
  line-height: 1.6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
}


  /* Social Icons */
.social-icons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.social-icons:hover {
  color: #515769;
  background-color: #fff;
  border-color: #515769;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* For FontAwesome or Simple Line Icons */
.social-icons i {
  line-height: inherit;
}





/* Experience Section */
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30;
}

.experience-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: 0 6px 10px rgba(0, 0, 0, 50);
  /* background-color: #1f1f1f; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 200);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-left: 300;
  margin-right: 300;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 500);
}

.date {
  font-size: 18px;
  font-weight: bold;
  color: #958A9D;
  min-width: 100px;
  text-align: left;
  margin-right: 20px;
  flex-shrink: 0;
}

.details {
  text-align: left;
  color: #fff;
}

.details h3 {
  font-size: 20px;
  margin: 0 0 10px;
}

.details p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 10px;
}

.tags span {
  background-color: #2a2a2a; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .experience-card {
      flex-direction: column;
  }

  .date {
      margin-bottom: 10px;
  }
}

 /* Projects Section */
.projects-container {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  gap: 20px;
}

.project-card {
  flex: 0 0 300px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  color: #fff;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project-card img[src="../images/traders_mit.png"] {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  margin-top: 0;
  font-size: 20px;
}

.project-info p {
  font-size: 14px;
  margin: 5px 0;
}

.projects-container::-webkit-scrollbar {
  height: 8px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.projects-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Contact Section  */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  /* background-color: #2B272E; */
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: #ccc;
  border-radius: 5px;
  outline: none;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: #aaa;
}

#contact-form textarea {
  resize: none;
  height: 120px;
}

#contact-form .submit-button {
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #1664b7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form .submit-button:hover {
  background-color: #073669;
}

html {
  scroll-behavior: smooth;
}